/****************
  Genral
****************/

body {
  font: normal 16px/140% Helvetica, Arial, sans-serif;
}

.button {
  border: 1px solid #4286f4;
  color: #4286f4;
  padding: 10px;
  border-radius: 6px;
  display: block;
  width: 90px;
  font-size: 16px;
  background-color: transparent;
}

.button:hover {
  color: #fff;
  background-color: #4286f4;
}



/****************
  Contacts Page
****************/

header {
  padding: 20px 0 30px;
  text-align: center;
  background: linear-gradient(to bottom, #6bba70 0%,#6bba70 100%);
  color: white;
}

main {
  border-bottom: 1px solid #ddd;
  overflow: auto;
  width: 100%;
  /*max-width: 1000px;
  margin: 0 auto;*/
}

.filter {
  position: relative;
}

.reset {
  position: absolute;
  right: 20px;
  top: 0;
}

.filtertags {
  font-size: 0;
}

.filtertags li {
  display: inline-block;
  width: 25%;
  padding: 10px 0;
  font-size: 16px;
}


section {
  width: 100%;
  background: #f5f5f5;
  text-align: center;
  float: right;
  margin-bottom: 30px;
  overflow: auto;
  padding: 20px 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  clear: both;
}

.contacts {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

aside {
  margin: 10px 0 ;
  width: 100%;
  text-align: center;
}

aside h3 {
  margin-bottom: 10px;
}

.tags li {
  text-align: left;
  padding-left: 10px;
  margin-top: 10px;
}

[name=tag] {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 6px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.subtitle {
  font-size: 20px;
}

.col-2 {
  width: 50%;
  float: left;
}

.col-2 * {
  margin: 0 auto;
}




/****************
  Individial Contacts
****************/

.contact {
  width: 50%;
  float: left;
  margin-bottom: 25px;
  min-height: 350px;
  text-align: left;
  box-sizing: border-box;
  padding: 0 10px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.auto {
  display: inline-block;
  width: auto;
}

.contact h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.contact p {
  margin-bottom: 10px;
}

.contact-tags {
  font-size: 0;
}

.contact-tags li {
  background-color: #ccc;
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
}




/****************
  Contact Form
****************/

.contact-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.contact-form h2 {
  text-align: center;
  font-size: 24px;
  margin-top: 15px;
}

.form_group input, .search {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 6px;
  background-color: white;
}

.form_group,
.form_buttons {
  display: block;
  clear: both;
  margin-bottom: 10px;
}

.form_group {
  padding-left: 2.5%;
}

.form_group label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

.form_group input {
  width: calc(100% - 170px);
}

.form_buttons {
  font-size: 0;
}

.button-container {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.button-container .button {
  margin: 0 auto;
  width: 95%;
}

[type=text]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}


.add {
  margin: 0 auto;
}

.contacts .button {
  margin-top: 20px;
}


@media (min-width: 600px) {
  aside {
    float: left;
    max-width: 150px;
  }

  section {
    margin-left: 150px;
    clear: none;
    width: auto;
    float: none;
  }

  .filtertags {
    margin: 0 10px;
    text-align: left;
  }

  .filtertags li {
    display: block;
    width: 100%;
  }

  .reset {
    display: block;
    position: static;
  }

  .search {
    width: 50%;
  }

  .add {
    width: 100px;
    font-size: 18px;
  }

  .contact-tags li {
    width: 33.3%;
  }
}

@media (min-width: 900px) {
  .contact {
    width: 33.3%;
  }
}
